.titulo--pesquisa, .adicionar--pergunta, label{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 15px;
    
}
.titulo{
    display: block;
    width: 500px;
    padding: .600rem .95rem;
    border-radius: 5px;
    border: 1px solid #ced4da
}
.titulo:hover{
    border: 1px solid #F29A2E; 
}

